[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}
body{background-color:#eaeaea;}
.container{box-shadow:0 0 25px #000;margin-top:30px;margin-bottom:30px;}
.headerDiv > div,.dataDiv > div{padding:10px;text-align:center;}
.headerDiv{background-color:#000;}
.headerDiv > div{font-weight:bold;font-size:16px;color:#fff;}
.dataDiv:nth-of-type(odd){background-color:rgba(217, 237, 247, 0.42);}
.dataDiv:nth-of-type(even){background-color:#fff;}
